obj/

__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so

.venv/
venv/
env/
.env

*.egg-info/
dist/
build/
*.egg
MANIFEST

.mypy_cache/
.ruff_cache/
.dmypy.json
dmypy.json

.pytest_cache/
.coverage
.coverage.*
htmlcov/
coverage.xml
*.cover

.DS_Store
.AppleDouble
.LSOverride
Thumbs.db

.idea/
.vscode/
*.swp
*.swo
*~
.project
.pydevproject

.ipynb_checkpoints/
*.ipynb

pip-log.txt
pip-delete-this-directory.txt
